header {
  position: relative;
  transition: 1s;
}
@keyframes headerdown{
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
header .wrap {
 
}
@keyframes widthfull{
  100%{
    width: 100%;
  }
}
header .wrap nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px auto;
  align-items: center;
}
header.headerFix .wrap nav{
grid-template-columns: auto auto auto; grid-template-rows: auto;
}
header .wrap nav h1 {
  grid-column: 1 / span 2;
  justify-self: center;
  line-height: 2;
}
header.headerFix .wrap nav h1{
grid-column: 1; justify-self: start;
}
header .wrap nav h1::before{
 content: "";  
 display: block;
 width: 100%;
 height: 44px;
 background-color: #f1eded;
 position: absolute;
 left: 0;
 top: 0;
}
header.headerFix .wrap nav h1::before{
display: none;
}
header .wrap nav h1:hover::before{
} 
header .wrap nav h1 a {
  font-size: 0;
  display: block;
  width: 93px;
  height: 25px;
  background-image: url(../img/logo_hitejinro.png);
  position: relative;
}
header .wrap nav h1 a span {
 
}
header .wrap nav ul.gnb{
  display: flex;
}
header.headerFix .wrap nav ul.gnb{
  
  justify-self: center;
}
header .wrap nav ul.gnb li {
  
}
header .wrap nav ul.gnb li a {
  padding: 0 25px;
  display: block;
  line-height: 5;
}
header .wrap nav ul.gnb li:nth-child(1) a{
  padding-left: 0;
}
header .wrap nav ul.gnb li a:hover{
 
}
/* wgnb */
header .wrap nav .wgnb{
  display: block; 
  position: absolute;
  width: 90%;
  height: 100vh;
  left: -90%;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  transition: 1s;
/*   display: none; */
}
.close{
  
}
.wgnbShow{
  left: 0 !important;
}
header .wrap nav .wgnb >a{
  font-size: 0;
  width: 30px;
  height: 30px;
  background: url(../img/close.svg) no-repeat center /contain;
}
header .wrap nav .wgnb .center{

}
header .wrap nav .wgnb .wsub{
  padding-left: 45px;
}
header .wrap nav .wgnb h2{
  display: block;
  line-height: 3;
  cursor: pointer;
  font-size: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}
header .wrap nav .wgnb h2::after{
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/more_down.svg) no-repeat center /contain;
  transition: 0.5s;
}
header .wrap nav .wgnb h2.currentH2::after{
  transform: rotate(180deg);
}
.currentH2{
  color: blue;
}
header .wrap nav .wgnb ul{ 
  display: none;
  text-align: left;
  margin-left: -65px;
  margin-right: -20px;
  background-color: #eee;
  padding-left: 65px;
}
header .wrap nav .wgnb ul li{
  
}
header .wrap nav .wgnb ul li a{
  line-height: 3;
  display: block;
}
header .wrap nav .wgnb ul li:not(:first-child)  a{
  border-top: 1px solid #ccc;
}
/* 기타메뉴 */
header .wrap nav ul.enb {
  display: flex;
  justify-self: end;
  font-size: 11px;
  gap: 4px;
}
header.headerFix .wrap nav ul.enb{
  
}
header .wrap nav ul.enb li {
  
}
header .wrap nav ul.enb li a {
  padding: 3px 4px;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}
header .wrap nav ul.enb li a:hover {

}
header .wrap nav ul.enb li:nth-child(1) a::after,header .wrap nav ul.enb li:nth-child(2) a::after{
 
}
.headerFix{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  top: 0;
  animation-name: down;
  animation-duration: 0.5s; 
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes down{
  to{
    top: -75px;
    opacity: 0;
  }
}